body {
    font-family: 'Roboto', sans-serif;
}

.body-content {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

/*  ----------HEADER STYLING---------- */

.full-header-container {
    background-color: #1f2937;
    padding: 0px 150px;
}

/* -- Header logo and links -- */
.logo-and-links-container{
    display: flex;
    justify-content: space-between;
}

.header-logo-container {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
}

/* Links container */
.links-container,
.links-container ul,
.links-container a {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
}


/* -- Hero text and image --*/
.hero-text-and-image-container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin: 100px 0px;
}

/* Hero text style */
.hero-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.hero-text-container .title-hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text-container .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text-container button {
    color: #f9faf8;
    font-weight: 700;
    background-color: #3882f6;
    max-width: 100px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

/* Hero Image Stlying */
.hero-image {
    display: flex;
    width: 1080px;
    background-color: #6d747d;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    flex-basis: auto;
}

/*  ----------HEADER STYLING---------- */

/*  ----------SECTION 2 STYLING---------- */

.full-section2-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    gap: 42px;
    justify-content: center;
    align-items: center;
}

.full-section2-container .title-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.images-container-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 250px;
    width: 200px;
    gap: 10px;
}

.images-section2 {
    display: flex;
    flex-grow: 1;
    border: 5px solid #3882f6;
    border-radius: 10px;
/*     object-fit: cover; */
}

.images-container-section2 .text {
    display: flex;
    text-align: center;
    color: #6d747d;
}