.body-content {
    border: 1px solid black;
}

.full-header-container {
    background-color: #1f2937;
}

.header-logo-links {
    display: flex;
}

.header-logo-container {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    justify-content: flex-start;
    align-items: center;
}